<h1>Welcome to online submission system</h1>
	<blockquote>
		<p>Etiam vehicula, augue eu ultricies dictum, orci nisi suscipit sem, nec sollicitudin neque est ac massa. Phasellus elementum nibh vel odio. Proin orci nulla, viverra tempus, pharetra ut, varius nec, justo. Donec euismod molestie erat. Nulla lobortis bibendum magna. Nulla adipiscing justo eu erat.</p>
		<p>Phasellus elementum nibh vel odio. Proin orci nulla, viverra tempus, pharetra ut, varius nec, justo. Donec euismod molestie erat.</p>
	</blockquote>

</br>
<h1>Instruction</h1>

<ul>
<li><%= link_to 'Instruction for online submission', instruction_for_online_submission_instructions_path %></li>
<li><%= link_to 'Instruction for author', instruction_for_author_instructions_path %></li>
<li><%= link_to 'Rules of edit', rules_of_edit_instructions_path%></li>
<li><%= link_to 'Procedure of examination and publication', procedure_instructions_path %></li>
<li><%= link_to 'Authorship agreement', authorship_instructions_path%></li>

</ul>